/* Body Studio*/
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --hover-focus-color: #404bbf;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 1440px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 120px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  transition: color var(--transition-time);
}
.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}

/* Header*/
.page-header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.web {
  color: #4d5ae5;
}
.studio {
  color: var(--title-text-color);
}

.menu-link {
  padding: 24px 0;
  position: relative;
  font-weight: 500;
  color: var(--title-text-color);
}
.current {
  color: var(--hover-focus-color);
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;

  background-color: var(--hover-focus-color);

  border-radius: 2px;
}
.menu {
  display: flex;
  gap: 40px;
}
.contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.contacts-link {
  color: var(--primary-text-color);
}
/* Hero section*/
.hero-section {
  background: #2e2f42;
  align-items: center;
  text-align: center;
  padding: 188px 0;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;

  width: 496px;
  margin-bottom: 48px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-focus-color);
}
.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #636de0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 48px auto 0 auto;
  transition: background-color var(--transition-time);
}

/* About section*/
.visually-hidden {
  position: absolute;
  top: -150;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}
.about {
  padding-top: 120px;
}
.about-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.about-item {
  max-width: 264px;
}
.about-item-icon {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

/*Products section*/

.prod-sect-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.prod-sect-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.prod-sect-item {
  width: calc((100%-48px) / 3);
}

/*Our team*/
.team-section {
  padding-top: 120px;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.team-item {
  text-align: center;
  width: calc((100% - 72px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-section {
  background-color: #f4f4fd;
}
.team-sect-text {
  padding: 32px 16px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.team-position {
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
  transition: background-color var(--transition-time);
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-time);
}
.team-social-item :hover,
.team-social-item:focus {
  background-color: #404bbf;
}
/* Costumers*/
.costumers-section {
  padding-top: 130px;
}
.costumers-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 72px;
}
.costumers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.costumers-item {
  width: 168px;
  height: 88px;
}
.costumers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: fill var(--transition-time), border-color var(--transition-time);
}
.costumers-link:hover,
.costumers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

/*Footer*/

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.web-footer {
  color: #4d5ae5;
}
.studio-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
  max-width: 264px;
  margin-left: 0;
}
.footer-social {
  margin-left: 120px;
}
.footer-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  transition: background-color var(--transition-time);
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time);
}
.footer-social-item :hover,
.footer-social-item:focus {
  background-color: rgba(49, 208, 170, 1);
}
.footer-subs-wrapper {
  margin-left: 80px;
}
.footer-subs-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
}
.footer-subs-btn {
  display: flex;
  gap: 16px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color var(--transition-time);
}
.footer-subs-btn:hover,
.footer-subs-btn:focus {
  background-color: var(--hover-focus-color);
}

/*--------- Portfolio---------*/
.filters {
  padding-top: 96px;
}
.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: var(--hover-focus-color);
  border-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  margin-bottom: 72px;
}
.filters-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  transition: color var(--transition-time),
    background-color var(--transition-time), border-color var(--transition-time),
    box-shadow var(--transition-time);
}

.projects-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-meny-item {
  width: 360px;
  padding: 0;
}
.project-menu-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--transition-time);
}
.project-menu-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-menu-headers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.project-menu-text-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-menu-text {
  color: var(--primary-text-color);
}
.project-list-img-wraper {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  color: #f4f4fd;
  background-color: rgba(77, 90, 229, 1);
  padding: 32px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-time);
}
.project-menu-link:hover .projects-overlay,
.project-menu-link:focus .projects-overlay {
  transform: translate(0, 0);
}

/*----- Modal----*/
.backdrop {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 1s linear;
}
.backdrop.backdrop.is-hidden.modal {
  transform: scale(0);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-time),
    background-color var(--transition-time);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: rgba(255, 255, 255, 1);
  background-color: rgba(64, 75, 191, 1);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-text {
  font-weight: 500;

  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 16px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-coments-field {
  margin-bottom: 16px;
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--transition-time);
}
.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill var(--transition-time);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color var(--transition-time);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color var(--transition-time);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--hover-focus-color);
  background-image: url(../images/checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-check {
  appearance: none;
}
.modal-form-submit {
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;

  transition: background-color var(--transition-time);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hover-focus-color);
}

/*----- Modal----*/
